@charset "utf-8";

html,body {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow-y: hidden;
}
.wrapper {
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  max-width: 100%;
  height: 70px;
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
}
header .my-name {
  position: absolute;
  top: 12px;
  left: 5%;
  color: #444;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

header .my-name span {
  display: block;
  float: left;
}

header nav {
  position: absolute;
  top: 20px;
  left: 20%;
  height: 32px;
}

nav .tab {
  float: left;
  margin-right: 60px;
}

nav span {
  float: left;
  line-height: 44px;
  font-size: 15px;
}

nav .icon {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: url("../img/top-icon-1.png") no-repeat;
}

nav .icon.s {
  background: url("../img/top-icon-2.png") no-repeat;
}

nav .icon.b {
  background: url("../img/top-icon-3.png") no-repeat;
}


nav .cur .icon {
  background-position: 0 -32px;
}

nav a.cur {
  color: #444;
}

.main-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-box a.c {
  display: block;
  width: 150px;
  height: 150px;
  font-size: 36px;
  margin-top: -50px;
  border-radius: 50%;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  transform-origin: center center;
}

.main-box a.mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  z-index: 999;
}

.main-box a.computer {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -300px;
  z-index: 999;
}

.main-box a.active {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}
